numpy
pandas
matplotlib
plotly
scipy
scikit-learn
openmeteo-requests
requests-cache
retry-requests
pymongo
streamlit
statsmodels
folium
streamlit-folium
shapely


# Install Snow_drift directly from GitHub
git+https://github.com/sarahorte/ind320project.git#egg=Snow_drift